/* You can add global styles to this file, and also import other style files */
@import "https://bootswatch.com/cosmo/bootstrap.min.css";

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}