<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="wrapper">
        <div class='col-lg-12 well'>
            <h4>{{device.name}}</h4>
        </div>
        <div class='col-lg-12'>
            <p>{{device.macAddress}}</p>
            <p class="text-muted">Last Update: {{device.updatedAt | date: 'medium'}}</p>
        </div>
        <hr>
        <div class="btn-wrapper">
            <button type="button" class="btn btn-primary col-md-6" (click)="view()">View</button>
            <button type="button" class="btn btn-danger col-md-6" (click)="delete()">Delete</button>
        </div>
    </div>
</div>
